#cabinet_poster {
    height:340px;
    position:absolute;
    left:300px;
    top:150px;
}

#screwdriver {
    height: 170px;
    width: auto;
    position: absolute;
    left: 342px;
    top: 300px;
    cursor: default;
}

#key {
    height: 115px;
    width: auto;
    position: absolute;
    left: 374px;
    top: 445px;
}

#plant_key {
    height: 70px;
    position: absolute;
    top: 314px;
    left: 552px;
}

#thecabinet {
    height:100px;
    width: auto;
}

.screwinventory {
    position: absolute;
    left: 50px;
    top: 72px;
}
.keyinventory{
    position: absolute;
    left: 43px;
    top: 163px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#airconditionercover {
    height: 575px;
    width: auto;
    position: absolute;
    left: 288px;
    top: 83px;
    cursor: default;
}

#words {
    height: 171px;
    width: auto;
    position: absolute;
    margin-left: 112px;
    margin-top: 260px;
    cursor: default;
}