#cabinet_poster {
    height:340px;
    position:absolute;
    left:300px;
    top:150px;
    cursor: default;
}

#screwdriver {
    height: 170px;
    width: auto;
    position: absolute;
    left: 342px;
    top: 300px;
    cursor: default;
}

#key {
    height: 115px;
    width: auto;
    position: absolute;
    left: 374px;
    top: 445px;
    cursor: default;
}

#charger {
    height: 70px;
    width: auto;
    position: absolute;
    left: 1020px;
    top: 639px;
    cursor: default;
}

#plant_key {
    height: 70px;
    position: absolute;
    top: 314px;
    left: 552px;
    cursor: default;
}

.plant_key_inventory {
    position:absolute;
    left:68px;
    top:275px;
}

#charger_key {
    height: 70px;
    position: absolute;
    top: 400px;
    left: 552px;
    cursor: default;
}

.charger_key_inventory {
    position:absolute;
    top: 388px;
    left:62px;
}

#thecabinet {
    height:100px;
    width: auto;
    cursor: default;
}

#plants {
    position: absolute;
    height: 74px;
    width: auto;
    left: 909px;
    top: 411px;
    cursor: default;
}

.screwinventory {
    position: absolute;
    left: 50px;
    top: 72px;
}
.keyinventory{
    position: absolute;
    left: 43px;
    top: 163px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#airconditionercover {
    height: 575px;
    width: auto;
    position: absolute;
    left: 288px;
    top: 83px;
    cursor: default;
}

#words {
    height: 171px;
    width: auto;
    position: absolute;
    margin-left: 112px;
    margin-top: 260px;
    cursor: default;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}
    
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#poster1 {
    height:600px;
    width:auto;
    cursor: default;
}

    /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: default;
}

.modal-trigger{
    position:absolute;
    left:200px;
    top:100px;
    width:200px;
}

#myBtn {
    position: absolute;
    height:84px;
    width: auto;
    left:423px;
    top: 655px;
    cursor: default;
}

#plant {
    height: 195px;
    width: auto;
    position: absolute;
    margin-left: 528px;
    margin-top: 443px;
    cursor: default;
}

#chargerkey {
    height: 185px;
    width: auto;
    position: absolute;
    left: 670px;
    top: 460px;
    cursor: default;
}

.chargerinventory {
    position: absolute;
    left:46px;
    top:625px;
}

#left{
    left:10px;
    top: 392px;
}
#right{
    left:1340px;
    top:392px;
}

#bigboard {
    height: 305px;
    width: auto;
    position: absolute;
    left: 372px;
    top: 240px;
    cursor: default;
}

#smallboard {
    height: 192px;
    width: auto;
    position: absolute;
    left: 1125px;
    top: 287px;
    cursor: default;
}

#pulldowncharger {
    height: 287px;
    width: auto;
    position: absolute;
    left: 672px;
    top: 1px;
    cursor: default;
}

#airconditioner {
    height: 79px;
    width: 107px;
    position: absolute;
    left: 718px;
    top: 377px;
    cursor: default;
}

#smallcabinet {
    height: 150px;
    width: auto;
    position: absolute;
    left: 1257px;
    top: 517px;
    cursor: default;
}

#sidetable {
    height: 43px;
    width: auto;
    position: absolute;
    left: 160px;
    top: 524px;
    cursor: default;
}

#bigcabinet {
    height: 304px;
    width: auto;
    position: absolute;
    left: 307px;
    top: 379px;
    cursor: default;
}

#phone {
    height: 43px;
    width: auto;
    position: absolute;
    left: 458px;
    top: 684px;
    cursor: default;
}

#numlock {
    height: 100px;
    width: auto;
    position: absolute;
    left: 958px;
    top: 172px;
    cursor: default;
}

#third_drawer {
    position: absolute;
    top: 481px;
    left: 771px;
    height:168px;
}

#thirddrawer_key {
    position: absolute;
    height:55px;
    top: 580px;
    left: 595px;
}

.thirddrawer_key_inventory {
    position: absolute;
    top:495px;
    left:75px;
    transform: rotate(-120deg);
    filter: brightness(65%);
}

#hammer {
    position: absolute;
    top: 386px;
    left: 520px;
    height:200px;
}

#hammer_inventory {
    position:absolute;
    top: 609px;
    left:43px;
}

#whiteboard_key {
    position:absolute;
    height:12px;
    top: 641px;
    left: 950px;
    transform: rotate(-14deg);
}

#boardkey {
    position: absolute;
    top: 632px;
    left: 62px;
}

#final_door {
    position:absolute;
    height:343px;
    top:279px;
    left:147px;
}

#final_door_cropped {
    position:absolute;
    height:770px;
    top:40px;
    left:620px;
}