.arrow-up {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 80px solid #555;
    display:inline-block;
    margin-left:50px;
}

button {
    width:80px;
    height:80px;
    margin-left:50px;
}